
.video-2{
 position: relative;
 width: 100%;
object-fit: cover;
}

.video-txt{
  position: absolute;
  margin-top: -200px;
  margin-left: 100px;
  width: 600px;
 line-height: 40px;
  font-size: 38px;
  font-weight: 600;
  color: #fff;
}
.black{
  width: 100%;
  height: 60px;
  background: #111;
}
.black_link{
  color: #fff;
  width: 300px;
text-align: center;
  margin: 0 auto;
 padding-top: 25px;
}
.grey_link {
  color: #727171;
  width: 700px;
text-align: center;
  margin: 0 auto;
 padding-top: 25px;
}
.grey{
  width: 100%;
  height: 70px;
  background:#E6E3E3;
}
.video-3{
  width: 50%;
  height: 50%;
  object-fit: cover;
  position: relative;
  margin-top: 60px;
  }
.about_txt{
  width: 45%;
  margin-top: 180px;
}
.sec_about{
  margin-bottom: 20px;
  font-size: 34px;
}
.desc_about{
  width: 500px;
  font-size: 18px;
  line-height: 28px;

}