.video{
    width: 100%;
}
.home{
    padding-top: 0;
}
.cards{
    margin-top: -170px;
}

.price{
    position: absolute;
    margin-top: -50px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
    border: solid 1px #fff;
    background: #fff;
    width: 50px;
    height: 30px;
}
.home_img{
    position: relative;
}
.home_txt{
    margin-top: 15px;
    font-weight: normal;
}
.card{
width: 400px;
height: 450px;
}



/* .video-women{
   width: 400px;
   height: 450px;
} */
.card p{
    color: darkgrey;
    margin-top: 10px;
    margin-bottom: 20px;
}
.heart_ic{
    position: absolute;
    background-image: url(../../img/icons/heart-2.svg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 20px;
    height: 20px;
     margin-top: -400px; 
     margin-left: 360px;
}
.shop_now{
    text-decoration: underline;
    font-weight: 600;
}
.shop_now:hover{
 background: #3a3838;
 color: #fff;
 transition: 0.3s;
}
.sec_home{
    margin-top: 50px;
    font-size: 35px;
    font-weight: 700;
  }

 .home_border{
    border: solid 1px #3a3838;
    width: 400px;
    height: 1px;
 } 

 .home_border:hover{
    height: 7px;
    background: #3a3838;
    width: 400px; 
 transition: 0.3s;
 }
 .brends .home_txt{
    font-size: 28px;
    font-weight: 600;
  
 }
 .brend_txt{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
 }
.brends {
    margin-top:80px;

 }
 .home_brend{
    padding-top: 70px;
 }



 .txt_grey{
    width: 48%;
 }
 .txt_grey .home_txt{
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: 15px;
    margin-top: 40px;
 }

 .text_text{
    background: #F6F4F4;
    margin-top: 80px;
 }
 .home_desk{
    margin-bottom: 20px;
 }
 .home_desk,
 .home_desk-2{
    line-height: 25px;
 }

 .sport_img img{
   width: 400px;
   height: 350px;
 }
 .sport .sec_about{
   width: 300px;
   line-height: 50px;
   font-size: 45px;
 }
 .sport_p{
   width: 300px;
   margin-top: 140px;
 }
 .sec_sport{
   font-size: 20px;
   line-height: 27px;
 }
 .sport{
   margin-top: 100px;
 }
 .sport .sec_desk{
   line-height: 25px;
 }

 .img_card{
   width: 320px;
   height: 350px;
   margin-top: 20px;
 }
 .about_cards{
   margin-top: 80px;
 }

 .learn  {
   text-align: center;
   margin:  0 auto;
   margin-top: 80px;
 }
 .learn .sek_desk{
width: 520px;
margin: 0 auto;
margin-top: 20px;
line-height: 25px;
margin-bottom: 20px;
 }

.btn_about {
   width: 180px;
   height: 50px;
   background: #191919;
   border: solid 1px ;
   border-radius: 5px;
   color: #fff;
   text-align: center;
   font-weight: 500;
   margin: 0 auto;
   padding-top: 15px;
   padding-left: 20px;
   position: relative;
}

.btn_about:hover{
   background: #fff;
   color: #000;
   transition: 0.3s;
}
.icon_about{
   position: absolute;
   background: url(../../img/icons/icon_about.png) no-repeat ;
  width: 50px;
  height: 50px;
   display: block;
   margin: 0px 0px 0px 100px;
   margin-top: -15px;


}