.video{
    width: 100%;
}
.home{
    padding-top: 0;
}
.cards{
    margin-top: -120px;
}

.price{
    position: absolute;
    margin-top: -50px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
    border: solid 1px #fff;
    background: #fff;
    width: 50px;
    height: 30px;
}
.home_img{
    position: relative;
}
.home_txt{
    margin-top: 15px;
    font-weight: normal;

}
.card p{
    color: darkgrey;
    margin-top: 10px;
    margin-bottom: 20px;
}
.heart_ic{
    position: absolute;
    background-image: url(../../img/icons/heart-2.svg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 20px;
    height: 20px;
     margin-top: -400px; 
     margin-left: 360px;
}
.shop_now{
    text-decoration: underline;
    font-weight: 600;
}
.shop_now:hover{
 background: #3a3838;
 color: #fff;
 transition: 0.3s;
}
.sec_home{
    margin-top: 50px;
    font-size: 35px;
    font-weight: 700;
  }

 .home_border{
    border: solid 1px #3a3838;
    width: 300px;
    height: 1px;
 } 
 .home_border:hover{
 height: 7px;
 background: #3a3838;
 }
 .brends .home_txt{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 50px;
 }
 .brend_txt{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
 }
 .brends {
    margin-top: 100px;
 }